<mat-toolbar color="primary">
  <div *ngIf="!(isHandset$ | async); then webBrowser else mobileBrowser"></div>
  <ng-template #webBrowser>
    <mat-toolbar-row style="padding-top: 50px; padding-bottom: 50px;">
      <img src="../../assets/HiG_vit_text.svg" class="logo">
    </mat-toolbar-row>
  </ng-template>
  <ng-template #mobileBrowser>
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['tree']"><span class="side-nav-text">Tree</span></a>
      <a mat-list-item [routerLink]="['table']"><span class="side-nav-text">Table</span></a>
      <a mat-list-item [routerLink]="['drag-drop']"><span class="side-nav-text">Drag-drop</span></a>
      <a mat-list-item [routerLink]="['dashboard']"><span class="side-nav-text">Dashboard</span></a>
      <a mat-list-item [routerLink]="['address-form']"><span class="side-nav-text">Address-form</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>