.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.side-nav-text{
  margin-left: 35px;
}

.mat-toolbar.mat-primary {
  position: sticky;
}

.logo{
  margin-left: 35px;
  max-width: 96px;
  min-width: 96px;
  max-height: 94px;
  min-height: 94px;
}
